.main {
	position: relative;
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
}
.obj_loader {
	box-sizing: border-box;
	height: 50px;
	width: 50px;
	margin: 15px auto 0px auto;
	border-radius: 50%;
	border-top: solid 10px #95B438;
	border-right: solid 10px #95B438;
	border-bottom: solid 10px rgba(255, 255, 255, 0.5);
	border-left: solid 10px rgba(255, 255, 255, 0.5);
	animation: spin 0.5s infinite linear;
	-webkit-animation: spin 0.5s infinite linear;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
}
.modal-borrar{
    position: fixed;
    top: 0px;
    background: rgba(213, 213,213, 0.6);
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
	height: -webkit-fill-available;
}
.box-white{
	width: 520px;
	background: white;
	text-align: center;
	border-radius: 4px;
	margin: 100px auto 0px auto;
	padding: 50px 20px;
	.cancelar{
		border-radius: 20px;
		padding: 6px 35px;
		margin: 5px;
		color:#95B438;
		background-color: white;
		box-shadow: 0px 0px 4px rgba(0,0,0,.5);
		border: none;
	}
	.eliminar{
		border-radius: 20px;
		padding: 6px 35px;
		margin: 5px;
		background-color: #95B438;
		color: white;
		border: none
	}
}