<div class="tab--body active">
  <div class="alert alert--ok mb-4" *ngIf="!metaInver">
    <p class="m-0"><b>Has llegado al total de la inversión: ${{inversionTope}}</b></p>
    <img class="icon--small" src="./../assets/img/close-2-green.svg" alt="">
  </div>
  <div class="alert alert--erro mb-4" *ngIf="metaInver">
    <p class="m-0"><b>Te faltan ${{resta}} para llegar al total</b></p>
    <img class="icon--small" src="./../assets/img/close-2-red.svg" alt="">
  </div>
  <div class="pb-3">
    <p>Para <b>activar su seguro de VIDA y AHORRO</b>, asegúrese de agregar las transferencias que realice hasta llegar al monto de la inversión: {{metaInversion}}$. Considere que son 5 la cantidad de transferencias que puede realizar.</p>
  </div>
  <div class="table-responsive-md">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
          </th>
          <th scope="col">Nro.</th>
          <th scope="col">Banco</th>
          <th scope="col">Fecha</th>
          <th scope="col">CTA. de Transferencia</th>
          <th scope="col">Nro. de operación</th>
          <th scope="col">Moneda</th>
          <th scope="col">Importe</th>
          <th scope="col" class="text-center">ESTADO</th>
        </tr>
      </thead>
      <tbody *ngIf="rdy">
        <tr *ngFor="let tr of datos.Data">
          <th>
            <span class="d-flex align-items-center">
              <img (click)="editar(tr.id)" class="icon--small pointer me-2" src="./../assets/img/edit.svg" alt="">
              <!-- <img (click)="openM(tr.id)" class="icon--small pointer" src="./../assets/img/delete.svg" alt=""> -->
            </span>
          </th>
          <td>{{tr.id}}</td>
          <td>banco</td>
          <td>{{tr.fecha}}</td>
          <td>{{tr.idCuentaBancaria}}</td>
          <td>{{tr.numeroOperacion}}</td>
          <td>{{tr.moneda}}</td>
          <td>{{tr.importeOperacion}}</td>
          <td class="text-center">
            <span *ngIf="tr.estado == 1" class="state state--en-proceso">En proceso</span>
            <span *ngIf="tr.estado == 2" class="state state--enviado">Enviado</span>
            <span *ngIf="tr.estado == 3" class="state state--procesado">Procesado</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!rdy" class="main"><div class="obj_loader"></div></div>
    
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-3">
      <button class="button button--primary" [disabled]="metaInver">ENVIAR</button>
    </div>
  </div>
</div>
<div class="modal-borrar" *ngIf="modalDelete">
    <div class="box-white">
      <p>¿Estas seguro que desea eliminar esta transferencia?</p>
      <button class="cancelar" (click)="closeM()">Cancelar</button>
      <button class="eliminar" (click)="closeM()">Eliminar</button>
    </div>
</div>