<div class="tab--body">
  <form action="" [formGroup]="transfForm" method="POST" (ngSubmit)="onSubmit()">
  <div>
    <div class="d-flex align-items-center" *ngIf="successTransfer">
      <h3 class="pe-2">Transferencia agregada exitosamente</h3>
      <img class="icon--small" src="./../assets/img/check.svg" alt="">
    </div>
    <p *ngIf="successTransfer">Puedes ver el estado de tu transferencia en la pestaña “Estado de transferencias. Asímismo, si necesitas agregar una nueva transferencia haz click <a class="link" href="">aquí.</a></p>
  </div>
  <div class="row justify-content-between" *ngIf="!successTransfer">
    <div class="col-md-7">
      <div class="pb-4">
        <p class="mb-0">Para <b>activar su seguro de VIDA y AHORRO</b>, asegúrese de agregar las transferencias que realice hasta llegar al monto de la inversión: 12,000$. Considere que son 5 la cantidad de transferencias que puede realizar.</p>
        <p class="text--small">* Todos los campos son obligatorios</p>
      </div>
      <div class="row mb-2">
        <div class="col-md-4">
          <p class="mb-0 mt-3">Bancos*</p>
        </div>
        
        <div class="col-md-8">
          <div class="md-radio md-radio-inline" *ngFor="let banco of bancos.Data">
            <input id="{{banco.banco}}" [checked]="banco.banco == tBanco" formControlName="bancoLista" type="radio" name="bancoLista" (change)="changeExample(banco.banco)"  value="{{banco.id}}">
            <label for="{{banco.banco}}" (click)="selectBanco(banco)">
              <img *ngIf="banco.banco == 'CONTINENTAL'" src="./../assets/img/bbva.png" alt="">
              <img *ngIf="banco.banco == 'CREDITO'" src="./../assets/img/bcp.png" alt="">
              <img *ngIf="banco.banco == 'INTERBANK'" src="./../assets/img/interbank.png" alt="">
              <img *ngIf="banco.banco == 'SCOTIABANK'" src="./../assets/img/scotiabank.png" alt="">
              <img *ngIf="banco.banco == 'CITIBANK'" src="./../assets/img/citibank.png" alt="">
              <img *ngIf="banco.banco == 'BANBIF'" src="./../assets/img/banbif.png" alt="">
              <img *ngIf="banco.banco == 'FINANCIERO'" src="./../assets/img/financiero.png" alt="">
            </label>
          </div>
        </div>
      </div>
      <div class="row mb-2 align-items-center">
        <div class="col-md-4">
          <p class="mb-0">Fecha de transferencia*</p>
        </div>
        <div class="col-md-8">
          <input *ngIf="_transfService.editar" formControlName="fecha" name="fecha" class="input" type="date" [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }">
          <input *ngIf="!_transfService.editar" formControlName="fecha" name="fecha" class="input" type="date" [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }">
          <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
            <div *ngIf="f.fecha.errors.required">Este campo es obligatorio</div>
          </div>
        </div>
      </div>
      <div class="row mb-2 align-items-center">
        <div class="col-md-4">
          <p class="mb-0">CTA. de Transferencia*</p>
        </div>
        <div class="col-md-8">
          <select *ngIf="_transfService.editar && tIdCtaBca" class="select" name="idCuentaBancaria" id="idCuentaBancaria" formControlName="idCuentaBancaria" [ngClass]="{ 'is-invalid': submitted && f.idCuentaBancaria.errors }">
            <option [selected]="cta.idCuentaBancaria == tIdCtaBca" *ngFor="let cta of bancoSelect.cuentasBancarias" [ngValue]="cta.idCuentaBancaria">{{cta.numeroCtaBancaria}}</option>
          </select>
          <select *ngIf="!_transfService.editar" class="select" name="idCuentaBancaria" id="idCuentaBancaria" formControlName="idCuentaBancaria" [ngClass]="{ 'is-invalid': submitted && f.idCuentaBancaria.errors }">
            <option *ngFor="let cta of bancoSelect.cuentasBancarias" [ngValue]="cta.idCuentaBancaria">{{cta.numeroCtaBancaria}}</option>
          </select>
        </div>
      </div>
      <div class="row mb-2 align-items-center">
        <div class="col-md-4">
          <p class="mb-0">Nro. de operación*</p>
        </div>
        <div class="col-md-8">
          <input *ngIf="_transfService.editar && tNumOpe" [value]="tNumOpe" class="input" type="text" formControlName="numeroOperacion" name="numeroOperacion" [ngClass]="{ 'is-invalid': submitted && f.numeroOperacion.errors }">
          <input *ngIf="!_transfService.editar" class="input" type="text" formControlName="numeroOperacion" name="numeroOperacion" [ngClass]="{ 'is-invalid': submitted && f.numeroOperacion.errors }">
          <div *ngIf="submitted && f.numeroOperacion.errors" class="invalid-feedback">
            <div *ngIf="f.numeroOperacion.errors.required">Este campo es obligatorio</div>
          </div>
        </div>
      </div>
      <div class="row mb-2 align-items-center">
        <div class="col-md-4">
          <p class="mb-0">Importe*</p>
        </div>
        <div class="col-md-8">
          <input *ngIf="_transfService.editar && tImporOpe" [value]="tImporOpe"  formControlName="importeOperacion" name="importeOperacion" class="input" type="number" [ngClass]="{ 'is-invalid': submitted && f.importeOperacion.errors }" numbersOnly>
          <input *ngIf="!_transfService.editar"  formControlName="importeOperacion" name="importeOperacion" class="input" type="number" [ngClass]="{ 'is-invalid': submitted && f.importeOperacion.errors }" numbersOnly>
          <div *ngIf="submitted && f.importeOperacion.errors" class="invalid-feedback">
            <div *ngIf="f.importeOperacion.errors.required">Este campo es obligatorio</div>
          </div>
        </div>
      </div>
      <div class="row mb-2 align-items-start">
        <div class="col-md-4">
          <p class="mb-0 mt-3">Imagen del recibo*</p>
        </div>
        <div class="col-md-8">
          <div>
            <div class="link--wraper">
              <span class="label">
                +  Agregar imagen
              </span>
              <input formControlName="imagenFile" type="file" name="imagenFile" id="upload" class="upload-box" placeholder="Upload File" (change)="fileChangeEvent($event)" accept=".jpeg, .png, .jpg, pdf, docx, xls, xlsx" [ngClass]="{ 'is-invalid': submitted && f.imagenFile.errors }">
              <div *ngIf="submitted && f.imagenFile.errors" class="invalid-feedback">
                <div *ngIf="f.imagenFile.errors.required">Este campo es obligatorio</div>
              </div>
            </div>
            <p class="text--small">Formatos válidos .png .jpg | Max. 5 MB</p>
          </div>
          <!--<div class="link--preview">
            <img src="./../assets/img/img-import.png" alt="">
            <p class="m-0 pe-2 ps-2">Boletanro.PNG</p>
            <img class="close" src="./../assets/img/close-2.svg"  alt="">
          </div>-->
          <ng-container *ngIf="isImageSaved; else elseTemplate">
            <div class="link--preview">
              <img class="prev-upload" [src]="cardImageBase64" />
              <img class="close" src="./../assets/img/close-2.svg"  alt="" (click)="removeImage()">
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img class="w-100" src="{{exampleBank}}" alt="">
    </div>
  </div>
  <div class="row justify-content-center mt-5" *ngIf="!successTransfer">
    <div class="col-md-3">
      <button class="button button--secondary">CANCELAR</button>
    </div>
    <div class="col-md-3">
      <button class="button button--primary" type="submit">AGREGAR</button>
    </div>
  </div>
</form>
</div>