<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="modal-transfer">
        <div class="modal-transfer--title">
          <div>
            <h3>Realizar transferencias</h3>
            <div class="d-flex">
              <div class="d-flex me-4 date">
                <p class="m-0 pe-1 text-1">Objetivo:</p>
                <p class="m-0 text-2">{{nombreObjetivo}}</p>
              </div>
              <div class="d-flex date">
                <p class="m-0 pe-1 text-1">Inversión:</p>
                <p class="m-0 text-2">${{invTope}}</p>
              </div>
            </div>
          </div>
          <img class="close" src="./../assets/img/close.svg" alt="">
        </div>
        <div class="tab">
          <div class="tab--header">
            <div class="item" (click)="estadoTransferencia()" [ngClass]=" estado ? 'active' : 'inactive'">
              <span>Estado de transferencias</span>
            </div>
            <div class="item" (click)="agregarTransferencia()" [ngClass]=" !estado ? 'active' : 'inactive'">
              <span>Agregar transferencia</span>
            </div>
          </div>
          <app-estado-transferencias *ngIf="estado" (idTransf)="_transfService.idEdicion = $event" (estadoT)="_transfService.editar = $event" (editaT)="estado = $event" [metaInversion]="_transfService.importeInversion" [codCompania]="codCom" [numPoli]="numPol" [codiRamo]="codRam" [nmStpo]="numSpt"></app-estado-transferencias>
          <app-agregar-transferencia *ngIf="!estado"></app-agregar-transferencia>
        </div>
      </div>
    </div>
  </div>
</div>
