/* You can add global styles to this file, and also import other style files */
.button {
    height: 40px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
  
    &--primary {
      background: #95B438;
      color: white;
      border: none;
    }
  
    &--secondary {
      background: white;
      color: #95B438;
      border: none;
      box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.2);
    }
  
    &[disabled] {
      background: #E9EAEA;
      color: #C4C4C4;
    }
  }
  
  .select,
  .input {
    background: #FCFCFC;
    border: 1px solid #768387;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    padding: 5px 10px;
    min-height: 32px;
    outline: none;
  }
  
  .md-radio {
    margin: 16px 0;
  
    &.md-radio-inline {
      display: inline-block;
    }
  
    input[type="radio"] {
      display: none;
  
      &:checked + label:before {
        border-color: #95B438;
        animation: ripple 0.2s linear forwards;
      }
  
      &:checked + label:after {
        transform: scale(1);
      }
    }
  
    label {
      display: inline-block;
      min-height: 20px;
      position: relative;
      padding: 0 (7px + 7px);
      margin-bottom: 0;
      cursor: pointer;
      vertical-align: bottom;
  
      &:before, &:after {
        position: absolute;
        content: '';
        border-radius: 50%;
        transition: all .3s ease;
        transition-property: transform, border-color;
      }
  
      &:before {
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border: 2px solid #768387;
      }
  
      &:after {
        top: 3px;
        left: 3px;
        width:9px;
        height:9px;
        transform: scale(0);
        background:#95B438;
      }
    }
  }
  
  .modal-transfer {
    background: #F8F9F9;
    color: #444444;
  
    &--title {
      padding: 30px 30px 20px 30px;
      border-bottom: 1px solid #C4C4C4;
      position: relative;
  
      h3 {
        font-size: 24px;
      }
  
      .close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 20px;
        cursor: pointer;
      }
    }
  
    .date {
      .text-2 {
        color: #768387;
      }
    }
  
    .pointer {
      cursor: pointer;
    }
  }
  
  .alert {
    &--ok {
      background: #FAFFF8;
      border: 1px solid #8DB602;
      box-sizing: border-box;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 9px 20px;
      font-size: 12px;
      color: #8DB602;
    }
  
    &--erro {
      background: #FFF3F1;
      border: 1px solid #C6351F;
      box-sizing: border-box;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 9px 20px;
      font-size: 12px;
      color: #C6351F;
    }
  
    img {
      cursor: pointer;
    }
  }
  
  .tab {
    &--header {
      align-items: center;
      background: #F8F9F9;
      display: flex;
  
      .item {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #95B438;
        padding: 0 40px;
        cursor: pointer;
  
        &:hover,
        &.active {
          background: white;
          color: #C4C4C4;
        }
      }
    }
  
    &--body {
      background: white;
      padding: 40px;
      font-size: 12px;
      /*display: none;*/
  
      &.active {
        display: block;
      }
  
      .md-radio {
        img {
          margin-top: -15px;
          width: 50px;
        }
      }
    }
  }
  
  .table {
    background: #FFFFFF;
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  
    thead {
      background: #F5F5F5;
      font-size: 12px;
  
      th {
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
        white-space: nowrap;
        color: #444444;
      }
    }
  
    tbody {
      border: 0;
      font-size: 12px;
  
      th,
      td {
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
        white-space: nowrap;
        color: #768387;
        vertical-align: middle;
      }
    }
  }
  
  .state {
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 13px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    width: 103px;
    display: block;
    margin: 0 auto;
    &--en-proceso {
      color: #FBCD29;
      background: #FFF6D7;
    }
    &--procesado {
      color: #95B438;
      background: #eff3e2;
    }
    &--enviado{
      color: #EF9454;
      background: #fcecde;
    }
  }
  
  .link {
    color: #95B438;
  
    &--wraper {
      position: relative;
      width: 200px;
  
      span.label {
        position: relative;
        z-index: 0;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        color: #95B438;
        padding: 10px 0;
        font-size: 16px;
      }
  
      #upload {
        display: inline-block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }
    }
  
    &--preview {
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      .close {
        width: 20px;
        cursor: pointer;
      }
    }
  }
  
  .text--small {
    font-size: 10px;
    color: #768387;
  }
  
  .icon--small {
    width: 20px;
  }
  